

<div class="container">
    <div class="row" style="border-bottom: 1px solid">
      <p> </p>
    </div>
    <div class="row">
      <p> </p>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-primary" href="../rock" role="button">Play Rock</a>
            <a class="btn btn-info" href="../paper" role="button">Play Paper</a>
            <a class="btn btn-primary" href="../scissors" role="button">Play Scissors</a>
          </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" style="border-bottom: 1px solid">
      <p> </p>
    </div>
    <div class="row">
      <p> </p>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%=@human_move%></h3>
            </div>
            <div class="panel-body">
              <img src="../assets/images/rock.png" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%=@computer_move%></h3>
            </div>
            <div class="panel-body">
              <img src="../assets/images/<%=@computer_move.downcase%>.png" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

